{% extends "base.html" %}
{% block title %}Delete Food Item | FoodCare{% endblock %}

{% block content %}

<div class="delete-page">

    <h2 class="delete-title">Delete Food Item</h2>

    <p class="delete-warning">
        Are you sure you want to delete
        <strong>{{ item.name }}</strong> ({{ item.quantity }})?
    </p>

    <form method="post" class="delete-form">
        {% csrf_token %}

        <button type="submit" class="btn-delete">
            Yes, delete
        </button>

        <a href="{% url 'dashboard' %}" class="btn-cancel">
            Cancel
        </a>
    </form>

</div>

{% endblock %}
